
<div class = "container">
	<div class="well">
		<h1>About</h1>
		<p>
			This is a website for Colorado Beer drinkers to share news and events regarding their favorite local beers and breweries.
	</div>
</div>